a {
  text-decoration: none;
}

header {
  background-color: rgb(36, 15, 10);
}

.header-contents {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  color: rgb(151, 221, 151);
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0;
  font-size: 5vw;
}

.icon-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.icon-button {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  color: rgba(0, 0, 0, 0);
  height: 95%;
  border-radius: 5px;
  line-height: 400%;
}

.icon-button-search {
  background-image: url("../image/虫眼鏡.png");
}

.icon-button-cart {
  background-image: url("../image/cart.png");
}

.icon-button-account {
  background-image: url("../image/userIcon.png");
}
