* {
  margin: 0;
}

main {
  margin: 5%;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  row-gap: 50px;
  justify-items: center;
}

.product-link {
  display: block;
  border: 1px black solid;
  background-color: bisque;
  overflow: hidden;
  width: 90%;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  min-height: 300px;
  max-height: 400px;
}

.product-img {
  display: block;
  border: 1px black solid;
  margin: 15px;
  margin-bottom: 0;
  background-color: white;
  height: fit-content;
}

.product-title-container {
  padding: 0 5px;
}

.product-title {
  font-size: 1em;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  color: black;
  margin: 8px 0;
}
